/* ################ ROOT################ */
:root {
  --txt-color: #ffffff;
  --bg-color: #2c2c2c;
  --heading-color: #9764f6;
  --secondary-color: #1ae1e8;
  --box-shadow:
    0 4px 8px var(--heading-color), 0 1px 3px var(--secondary-color);
}
* {
  scrollbar-width: none;
}
html {
  scroll-snap-type: y mandatory;

  scroll-behavior: smooth;
}
section {
  scroll-snap-align: center;
}
footer {
  scroll-snap-align: center;
}
body {
  line-height: 1.5;
  background-color: var(--bg-color);
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  scroll-behavior: smooth;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  background-color: #2c2c2c; /* Fallback */
  background-image:
    radial-gradient(at 0% 0%, rgba(151, 100, 246, 0.05) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(26, 225, 232, 0.05) 0px, transparent 50%);
  background-attachment: fixed;

  /* Stellt sicher, dass der Body die ganze Höhe einnimmt */
  min-height: 100vh;
}

/*################Standarts################*/
h1,
h2,
h3,
h4 {
  color: var(--heading-color);
  line-height: 1.2;
}
strong {
  font-size: clamp(1.5em, 2vw, 1.5em);
  line-height: 1.2;
  color: var(--heading-color);
}
p {
  text-align: center;
  font-size: clamp(0.8em, 1vw, 1em);
  color: var(--txt-color);
}

.btn {
  color: var(--txt-color);
  width: 7.5em;
  height: 2.8em;
  background-color: var(--heading-color);
  border: transparent 2px;
  position: relative;
  opacity: 1;
  overflow: hidden;
}

.btn::after {
  content: "tackt";
  display: flex;
  width: 7.5em;
  height: 2.8em;
  background-image: linear-gradient(
    to left top,
    var(--heading-color),
    var(--secondary-color)
  );
  border: transparent 2px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(50%);
  justify-content: start;
  align-items: center;
  color: var(--bg-color);
}

.btn::before {
  content: "Kon";
  color: var(--bg-color);
  display: flex;
  width: 7.5em;
  height: 2.8em;
  background-image: linear-gradient(
    to right top,
    var(--heading-color),
    var(--secondary-color)
  );
  border: transparent 2px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%);
  justify-content: end;
  align-items: center;
}
.btn:hover::before {
  transition: all 1s ease;
  opacity: 0.5;
  transform: translateX(-100%);
}
.btn:hover::after {
  transition: all 1s ease;
  opacity: 0.5;
  transform: translateX(100%);
}
.btn:hover {
  transition-delay: 0.95s;

  border: solid 2px var(--secondary-color);
  box-shadow: var(--box-shadow);
  /* animation: popup ease 0.5s forwards alternate; */
}
.btn:active{
  animation: none !important;
  background-image: linear-gradient(
    to right top,
    var(--heading-color),
    var(--secondary-color));
}

/*################Header bereich################*/

.header-container {
  width: clamp(95%, 99vw, 80%);
  height: 101vh;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Hintergrund-Farbe (Fallback) */
  background-color: var(--bg-color);

  /* WICHTIG: Gradient über das Bild legen */
  background-image:
    linear-gradient(
      135deg,
      rgba(44, 44, 44, 0.85),
      /* Deine --bg-color (#2c2c2c) mit 85% Deckkraft */ rgba(44, 44, 44, 0.7)
        /* Und mit 70% Deckkraft */
    ),
    url("Img/BackgroundAi.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-top: 2em;
}
.heading-Img {
  width: clamp(15em, 20vw, 20em);

  box-shadow: var(--box-shadow);
  border-radius: 45%;
}

.head-container-down {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-bottom: 5em;
  align-items: center;
  justify-content: center;
}
.head-container-up {
  min-width: 15em;
}

/*################Main-Bereich################*/
main {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-container1 {
  width: clamp(100%, 99vw, 100%);
  height: 101vh;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1em;
}
/*################Section 1################*/
.about {
  font-size: clamp(1.5em, 3vw, 2.5em);
  margin-top: 2em;
  position: relative;
  text-align: center;
  width: clamp(15em, 99vw, 99vw);
}
.blob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(5em, 8vw, 10em);
  opacity: 0.2;
}

.selling-point {
  position: relative;
  height: clamp(15em, 25vh, 25vh);
  width: clamp(25em, 55vw, 55em);
  display: flex;
  background-color: var(--bg-color);
  padding: 0 1em 0 1em;

  gap: 0.5em;
  flex-wrap: nowrap;
  box-shadow: var(--box-shadow);
  align-items: center;
  text-align: center;
  border: solid 1px transparent;
}
.selling-point::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right top,
    var(--heading-color),
    var(--secondary-color)
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}
/*hier soll eine animation entstehen die mit js geschrieben wird das bei on view eine anaimation startet*/

.selling-point:hover:after {
  opacity: 0.2;
}
.selling-point:hover {
  border: solid 1px var(--secondary-color);
}

/*################Section 2################*/
.main-container2 {
  max-width: 99%;
  height: 101vh;
  display: grid;
  grid-template-columns: repeat(4, clamp(6.5em, 12vw, 60em));
  grid-template-rows: repeat(7, clamp(5em, 10vh, 60em));
  column-gap: 1em;
  row-gap: 1em;
  align-items: center;
  justify-items: center;
}
.main-container2 > p {
  box-shadow: var(--box-shadow);
}
.plate {
  padding: 0.1em;
  align-content: center;
  text-align: center;
  height: clamp(4.5em, 10vh, 60em);
  width: clamp(8em, 12vw, 50em);
  position: relative;
}
.plate::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right top,
    var(--heading-color),
    var(--secondary-color)
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}
.plate:hover::after {
  opacity: 0.5;
}
.middle-plate {
  align-content: center;
  text-align: center;
  opacity: 0;
  height: clamp(12em, 10vh, 60em);
  width: clamp(15em, 20vw, 65em);
  grid-column: 2/4;
  grid-row: 4/6;
}
.aboutTech {
  font-size: clamp(1.5em, 3vw, 2.5em);
  grid-column: 1/5;
  grid-row: 1/3;
  text-align: center;
  width: clamp(15em, 99vw, 99vw);
  position: relative;
  z-index: 2;

  align-content: center;
}
.blob2 {
  opacity: 0.2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(5em, 8vw, 10em);
}

/*################Section 3 Github und Co################*/
.main-container3 {
  position: relative;
  max-width: 99%;
  height: 101vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.skill-container {
  position: relative;
  width: clamp(24em, 45vw, 35em);
  height: clamp(25em, 50vh, 35em);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-color: var(--secondary-color) var(--heading-color);
  box-shadow: var(--box-shadow);
  position: relative;
  scrollbar-width: none;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 1em;
  flex: 0 0 100%;
  scroll-snap-align: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right top, #9764f649, #1ae1e84d);
}

.skill {
  padding: 1em;
}
.card-icon {
  width: clamp(5em, 10vh, 15em);
  height: auto;
}
.scrollme {
  position: absolute;
  bottom: 10vh;
  padding: 0;
  margin: 0;
}

/*################ Section 4 ################*/

.main-container4 {
  position: relative;
  max-width: 99%;
  height: 101vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.galerie-container {
  width: clamp(24em, 90vw, 90em);
  height: clamp(25em, 90vh, 35em);
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.wrapper-card {
  width: clamp(28em, 33%, 30em);
  height: 98%;
  margin-right: 1em;
  flex-shrink: 0;
  flex-grow: 0;
}

.galerie-card {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;
  margin-right: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  width: clamp(28em, 33%, 30em);
  height: 98%;
  background-image: linear-gradient(to right top, #9764f649, #1ae1e84d);
  scroll-snap-align: center;
}

.unsichtbar {
  width: 70%;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  grid-row: 1/4;
}

.card-img {
  width: 95%;
  position: relative;

  grid-column: 2;
  grid-row: 1/4;
}
.js {
  grid-row: 3;
  grid-column: 1;
}
.js:hover {
  fill: var(--secondary-color);
  transition: all ease 1s;
}
.html {
  grid-column: 3;
  grid-row: 1;
}
.git {
  grid-row: 3;
  grid-column: 3;
  cursor: pointer;
}
.git:hover {
  fill: var(--secondary-color);
  transition: all ease 1s;
}
.discription {
  grid-column: 1;
  grid-row: 2;
}
.discription:hover {
  fill: var(--secondary-color);
  transition: all ease 1s;
}
.css:hover {
  fill: var(--secondary-color);
  transition: all ease 1s;
}
.scrl-btns {
  width: clamp(20em, 10vw, 25em);
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* ########################Footer Section############### */

.footerinfo {
  display: grid;
  grid-template-columns: repeat(3, clamp(10em, 33%, 25em));
  justify-items: center;
  align-items: center;
  gap: 1em;
}
.footer-content {
  padding: 2em;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.footer-content h4 {
  text-align: center;
}

.footer-bottom {
  border: solid;
}
.navigation a {
  text-decoration: none;
  color: var(--txt-color);
  font-size: 0.75em;
}

.navigation a {
  text-decoration: none;
  color: var(--txt-color);
  font-size: 0.75em;
  position: relative; /* DER ANKER: Damit 0,0 hier anfängt */
  padding: 4px 8px; /* Etwas Platz für den Punkt zum Laufen */
  display: inline-block; /* WICHTIG: Damit width/height berechnet werden */
  transition: color 0.3s;
}

.navigation a::after {
  content: "";
  background-color: #9764f6;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 0 5px var(--secondary-color); /* Kleiner Glow-Effekt */
}

.navigation a:hover::after {
  opacity: 1;
  /* Wir nutzen linear, damit er nicht an den Ecken bremst */
  animation: runover 1.5s linear infinite;
}

/* 
################### Keyframes and animations################### */

@keyframes popup {
  from {
    filter: blur(15px);
  }
  to {
    filter: blur(0px);
  }
}

@keyframes slide {
  from {
    transform: rotateZ(180deg);
    opacity: 0;
    filter: blur(6px);
  }
  to {
    opacity: 1;
  }
}

@keyframes scale {
  from {
    scale: 0.7;
  }
  to {
    scale: 1;
  }
}
@keyframes rescale {
  from {
    scale: 1;
  }
  to {
    scale: 0.7;
  }
}
@keyframes runin {
  from {
    filter: blur(15px);
    opacity: 0.4;
  }

  to {
    filter: blur(0px);
    opacity: 1;
  }
}

.animation {
  animation: popup ease 2s alternate forwards;
}
.animationPlate {
  transition: opacity 1s ease;
}
.active {
  animation: scale 2s ease forwards;
}
.inactive {
  animation: rescale 2s ease forwards;
}
.animationGalerie {
  animation: runin ease 0.7s alternate forwards;
}

.animationGalierereverse {
  animation: runin ease 0.7s alternate-reverse forwards;
}
